Data_Mining_Lab/data/inst.psv filter=lfs diff=lfs merge=lfs -text
Data_Mining_Lab/data/uk_vehicles.csv filter=lfs diff=lfs merge=lfs -text
Data_Mining_Lab/data/uk_casualties.csv filter=lfs diff=lfs merge=lfs -text
Data_Mining_Lab/data/uk_accidents.csv filter=lfs diff=lfs merge=lfs -text
Data_Mining_Lab/data/Vehicle_Information.csv filter=lfs diff=lfs merge=lfs -text
I2dl/exercise_3/training.csv filter=lfs diff=lfs merge=lfs -text
